li a{
    color: white;
    font-weight: 700;
}
#servicesSection{
   font-size: 1.2rem;
   font-weight: 600;
   color: rgb(28, 28, 28);
}
.servcard{
   border-radius: 5%;
   padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.007), 0 6px 20px 0 rgba(0, 0, 0, 0.098);
}
.servcard:hover{
   padding: 1rem;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}